[submodule "vendor/gridfs-fuse"]
	path = vendor/gridfs-fuse
	url = git@github.com:xpaulbettsx/gridfs-fuse.git
[submodule "vendor/candy"]
	path = vendor/candy
	url = git@github.com:xpaulbettsx/candy.git
